doctype html
html
  head
    title Game
    meta(name='viewport' content='initial-scale=0.5, user-scalable=no')
    link(rel='stylesheet', href='stylesheets/global.css')

  body
    canvas#mainCanvas(width=640 height=640)

    script(src='behaviors/engine.io-client/engine.io.js')
    script(src='behaviors/async2.js')
    script(src='behaviors/global.js')
