doctype html
html
  head
    title Game
    link(rel='stylesheet', href='stylesheets/global.css')

  body
    canvas#mainCanvas(width=640 height=640)

    script(src='behaviors/async2.js')
    script(src='behaviors/global.js')
